<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <style>
        .no-change{
            font-size: 20px;
            color: #fff;
        }
        .no-change:hover{
            color: #ffa;
        }
    </style>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io('http://localhost:3000');
            

            
            socket.on('server-send-comment-new', function(data){
                var html_render = "<div class='one-comment'>"
                + "<span class='icon'><img width='80px' src='/images/icons/user.jpg' />"
                + "<span class='name'>" + data.kind + ": " + data.name + "</span><br />"
                + "<span class='u-content'>" + data.message + "</span>"
                + "</div>";
                $('#text-comment').val("");
                $('#list-comment').prepend(html_render);
            });

            $(document).ready(function(){
                $('#btn-comment-news').click(function(){
                    //Nhung data se gui len server, nen mang kem thong tin cua tai khoan de xu li luu tru tren database
                    var data = {
                        message: $('#text-comment').val(),
                        author: $('#getAuthor').val(),
                        authority: $("#getAuthor").attr("authority"),
                        userId: $('#getAuthor').attr("userId"),
                        postId: $('#getAuthor').attr("postId")
                    };
                    socket.emit('client-send-comment-new', data);
                });
                
            });
            
        </script>
    </head>
    <body>
        <% include ../partials/sidebar %>
        <header><% include ../partials/header %></header>
        <div class="body-wrapper">
            <h2 class = "main_name"><a class="no-change" href="http://localhost:3000/dien-dan">Dien dan</a> >> <%= one_post.title %></h2>
            <div class="content-news">
                <p class="title-news"><%= one_post.content %></p>
                <span class="meta-news">(<%= one_post.authorId.name %> - <%= one_post.timestamp %>)</span>
            </div>
            <input type="hidden" id="getAuthor" value="<%= user.name %>" authority="<%= objectType %>" userId="<%= user._id %>" postId="<%= one_post._id %>" />
            <% if(objectType != 3){ %>
            <div class="bind-width">Khung tra loi</div>
            <div class="comment-news">
                <div class="form-comment">
                        <textarea id="text-comment" rows="2" cols="50" placeholder="Viet cau tra loi tai day"></textarea>
                        <button id="btn-comment-news" value="Post">Binh luan</button>
                </div>
            <% }else{ %>
                <div>Ban can <a style="color: blue; text-decoration: underline;" href="/dang-nhap">dang nhap</a> hoac <a style="color: blue; text-decoration: underline;" href="/dang-ky">dang ki</a> neu chua co tai khoan de su dung chuc nang binh luan cho cau hoi</div>
            <% } %>
                
                <div class="list-comment" id="list-comment">
                    <% for(var i = one_post.subPostIds.length - 1; i >= 0; i--){ %>
                    <div class="one-comment">
                        <span class="icon"><img width="80px" src="/images/icons/user.jpg" />
                        <span class="name"><%= one_post.subPostIds[i].authorId.name %></span><br />
                        <span class="u-content"><%= one_post.subPostIds[i].content %></span>
                    </div>
                    <% } %>
                <!--    <div class="one-comment">
                        <span class="icon"><img width="80px" src="/images/icons/user.jpg" />
                        <span class="name">Bac si: Thu chu linh</span><br />
                        <span class="u-content">Cam on bac si</span>
                    </div>
                    <div class="one-comment">
                        <span class="icon"><img width="80px" src="/images/icons/user.jpg" />
                        <span class="name">Thu chu linh</span><br />
                        <span class="u-content">Cam on bac si</span>
                    </div> -->
                </div>
                
            </div>
        </div>
        
        <footer><% include ../partials/footer %></footer>
    </body>
</html>
