<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <style>
            .no-change{
                font-size: 20px;
                color: #fff;
            }
            .no-change:hover{
                color: #ffa;
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }  

        </style>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#btn-like").click(function(){
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3000/tin-tuc/incrementVote",
                        data: {
                            idPost: $("#data-hide").val()
                        },
                        success: function(result){
                            $("#number_vote").html(result);
                        }
                    });
                });
                $("#btn-dislike").click(function(){
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3000/tin-tuc/descrementVote",
                        data: {
                            idPost: $("#data-hide").val()
                        },
                        success: function(result){
                            $("#number_vote").html(result);
                        }
                    });
                });

                $("#edit-new").attr("href", "/tin-tuc/chinh-sua?id="+$("#data-hide").val());
                $("#delete-new").attr("href", "/tin-tuc/xoa-bai?id="+$("#data-hide").val());

                //Popup
                var modal = document.getElementById('myModal');

                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

                // When the user clicks the button, open the modal 
                btn.onclick = function() {
                    modal.style.display = "block";
                }

                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                    modal.style.display = "none";
                }
                
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        </script>
    </head>
    <body>
    <!--
         Sidebar
    -->
        <% include ../partials/sidebar %>

    <!--
         Header
     -->
        <header><% include ../partials/header %></header>

    <!--
        Body
    -->
        <input type="hidden" id="data-hide" value="<%= one_new._id %>" />
        <div class="body-wrapper">
            <div class="main_content">
                <h2 class = "main_name"><a class="no-change" href="http://localhost:3000/tin-tuc">Tin Tức</a> >> <%= one_new.title %></h2>

                    <h3 class="teaser_headline"><a href=""><%= one_new.title %></a></h3>
                    <div class ="block_text_post">
                        <span class="time_post"><%= one_new.timestamp %></span> –
                        <span><%= one_new.content %></span>
                    </div>
                    <div class = "block_img_post"><img src="/images/img_post.png"></div>

                <hr class="clear">

            </div>
            
            <!--
                Select Function
            -->
            <div class ="select_function">
            <a href="/dat-lich-hen/dat-moi"><button class="btn-item-function">
            Đặt lịch hẹn y tế
        </button></a>
        <a href="/ho-so/benh-an"><button class="btn-item-function">
            Xem hồ sơ bệnh án
        </button></a>
        <a href="gioi-thieu/bac-si"><button class="btn-item-function">
            Tra cứu bác sĩ
        </button></a>
            </div>

            <!--
                Clear Float
            -->
            <div class="clear"></div>
            <% if(own == true){ %>
                <button class="btn-normal" id="btn-edit"><a id="edit-new" href="">Chinh sua</a></button>
                <button class="btn-normal" id="myBtn">Xoa bai</button>
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div>
                            <span style="color: red">Ban thuc su muon xoa bai viet</span><br />
                            <button><a id="delete-new" href="" style="color: black; font-size: 20px;">Xac nhan xoa</button>
                        </div>
                    </div>

                </div>
            <% }else{ %>
                <% if(one_new.like == undefined) { %>
                <span id="number_vote" class="number_vote"><img width="40px" src="/images/icons/like.png" />0</span>
                <% }else{ %>
                <span id="number_vote" class="number_vote"><img width="40px" src="/images/icons/like.png" /><%= one_new.like %></span>
                <% } %>
                <button class="btn-vote" id="btn-like">Like</button>
                <button class="btn-vote" id="btn-dislike">Unlike</button>
            <% } %>
        </div>

     <!--
         Footer
     -->   
        <footer><% include ../partials/footer %></footer>
    </body>
</html>

