<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100 ver3">
            <table data-vertable="ver3">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1" data-column="column1">S</br>T</br>T</th>
                        <th class="column100 column2" data-column="column2" style="width: 100px;">ID hồ sơ</th>
                        <th class="column100 column3" data-column="column3" style="width: 100px;">Họ tên bệnh nhân</th>
                        <th class="column100 column4" data-column="column4" style="width: 100px;">Họ tên bác sĩ</th>
                        <th class="column100 column5" data-column="column5" style="width: 100px;">Giường bệnh</th>
                        <th class="column100 column6" data-column="column6">Chuẩn đoán</th>
                        <th class="column100 column7" data-column="column7">Tình trạng</th>
                        <th class="column100 column8" data-column="column8" style="width: 10px;">Xem</th>
                        <th class="column100 column9" data-column="column9" style="width: 10px;">Sửa</th>
                        <th class="column100 column10" data-column="column10" style="width: 10px;">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i<medicalRecords.length; i++) {  
                        var viewId = 'view_'+i, updateId = 'update_'+i, formUpdate = 'formUpdate_'+i,
                            deleteId = 'delete_'+i, pathImage = '';
                        if (typeof medicalRecords[i].patient[0].image == 'undefined' || !medicalRecords[i].patient[0].image)
                            pathImage = '/images/datas/user-default.png';
                        else pathImage = medicalRecords[i].patient[0].image;
                    %>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1"><%=i+1%></td>
                            <td class="column100 column2" data-column="column2" style="width: 100px;"><%=medicalRecords[i]._id%></td>
                            <td class="column100 column3" data-column="column3" style="width: 100px;">
                                <% if (medicalRecords[i].patient[0]) { %>
                                    <%=medicalRecords[i].patient[0].name%>
                                <% } %>
                            </td>
                            <td class="column100 column4" data-column="column4" style="width: 100px;">
                                <% if (medicalRecords[i].doctor[0]) { %>
                                    <%=medicalRecords[i].doctor[0].name%>
                                <% } %>
                            </td>
                            <td class="column100 column5" data-column="column5" style="width: 100px;">
                                <% if (medicalRecords[i].bedNo) { %>
                                    <%=medicalRecords[i].bedNo%>
                                <% } %>
                            </td>
                            <td class="column100 column6" data-column="column6">
                                <% if (medicalRecords[i].theDiagnosis) { %>
                                    <%=medicalRecords[i].theDiagnosis%>
                                <% } %>
                            </td>
                            <td class="column100 column7" data-column="column7">
                                <% if (medicalRecords[i].status) { %>
                                    <%=medicalRecords[i].status%>
                                <% } %>
                            </td>
                            <td class="column100 column8" data-column="column8" style="width: 10px;" onclick="showScene('<%=viewId%>')"><a>click</a></td>
                            <td class="column100 column9" data-column="column9" style="width: 10px;" onclick="showScene('<%=updateId%>')"><a>click</a></td>
                            <input type="hidden" id="<%=deleteId%>" value="<%=medicalRecords[i]._id%>">
                            <td class="column100 column10" data-column="column10" style="width: 10px;" onclick="deletes('<%=deleteId%>')"><a>click</a></td>
                        </tr>
                        <!-- View -->
                        <a onclick="hideScene('<%=viewId%>')" id="<%=viewId%>" class="view_action">
                            <div class="center_box_action">
                                <div class="img_box_instroduce_view">
                                    <img src="<%=pathImage%>">
                                </div>
                                <div class="text_box_instroduce_view">
                                    <h1 class ="title_box_instroduce">
                                        <%=medicalRecords[i]._id%>
                                    </h1>
                                    <p><hr></p>
                                    <div class="introduce_view" name="" >
                                        <span class="icons_text_view">
                                            <img src="/images/add.png" width="20px">
                                        </span>
                                        <span class="text_instroduce_view">ID bệnh nhân:</span> <%=medicalRecords[i].patient[0]._id%></div>
                                    <% if(medicalRecords[i].patient[0].name) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Họ tên bệnh nhân:</span> <%=medicalRecords[i].patient[0].name%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].patient[0].card) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Số CMND:</span> <%=medicalRecords[i].patient[0].card%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].patient[0].phoneNumber) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Số điện thoại:</span>  <%=medicalRecords[i].patient[0].phoneNumber%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].patient[0].birthday) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Ngày sinh:</span>  <%=medicalRecords[i].patient[0].birthday%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].patient[0].sex) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Giới tính:</span>
                                            <% if (medicalRecords[i].patient[0].sex == true){ %>
                                                Nam
                                            <% } else {%>
                                                Nữ
                                            <% } %>
                                        </div>
                                    <% } %>
                                    <% if(medicalRecords[i].patient[0].address) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Địa chỉ:</span>  <%=medicalRecords[i].patient[0].address%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].bedNo) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Giường bệnh:</span>  <%=medicalRecords[i].bedNo%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].theDiagnosis) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Chuẩn đoán:</span>  <%=medicalRecords[i].theDiagnosis%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].status) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Trạng thái:</span>  <%=medicalRecords[i].status%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].treatment) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Cách điều trị:</span>  <%=medicalRecords[i].treatment%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].timeStart) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Thời gian bắt đầu:</span>  <%=medicalRecords[i].timeStart%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].timeEnd) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Thời gian kết thúc:</span>  <%=medicalRecords[i].timeEnd%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].medicines) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Các loại thuốc:</span>  <%=medicalRecords[i].medicines%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].doctor[0]._id) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">ID bác sĩ :</span> <%=medicalRecords[i].doctor[0]._id%></div>
                                    <% } %>
                                    <% if(medicalRecords[i].doctor[0].name) { %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Họ tên bác sĩ:</span>  <%=medicalRecords[i].doctor[0].name%></div>
                                    <% } %>
                                    <% if (objectType == 0){ %>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Trạng thái hoạt động:</span>  <%=medicalRecords[i].active%></div>
                                        <div class="introduce_view" name="" >
                                            <span class="icons_text_view">
                                                <img src="/images/add.png" width="20px">
                                            </span>
                                            <span class="text_instroduce_view">Lần cuối cập nhật:</span>  <%=medicalRecords[i].timestamp%></div>
                                    <% } %>
                                </div>
                            </div>
                        </a>
                        <!--END VIEW ACTION-->

                        <!--UPDATE ACTION-->
                        <tr><td>
                        <div id ="<%=updateId%>" class="update_action">
                            <div class="center_box_action">
                                <form id="<%=formUpdate%>">
                                    <div class="text_box_instroduce_update" style="position: fixed;margin-top: 1%;margin-left: 20%;">
                                        <h1 class ="title_box_instroduce">
                                            <%= medicalRecords[i]._id %>
                                        </h1>
                                        <hr><p>
                                        <div class="row">
                                            <label for="_id">ID bệnh án: <span class="req">*</span></label>
                                            <input type="text" readonly="readonly" name="_id" class="txt" tabindex="1" value="<%= medicalRecords[i]._id %>" required>
                                        </div>
                                            
                                        <div class="row">
                                            <label for="doctorId">ID bác sĩ:  <span class="req">*</span></label>
                                            <input type="text" readonly="readonly" name="doctorId" id="doctorId" class="txt" tabindex="2" value="<%= medicalRecords[i].doctor[0]._id %>" required>
                                        </div>

                                        <div class="row">
                                            <label for="patientId">ID bệnh nhân:  <span class="req">*</span></label>
                                            <input type="text" readonly="readonly" name="patientId" id="patientId" class="txt" tabindex="3" value="<%= medicalRecords[i].patient[0]._id %>" required>
                                        </div>
                                            
                                        <div class="row">
                                            <label for="bedNo">Giường bệnh:</label>
                                            <input type="text" name="bedNo" id="bedNo" class="txt" tabindex="4" value="<%= medicalRecords[i].bedNo %>" >
                                        </div>
            
                                        <div class="row">
                                            <label for="theDiagnosis">Chuẩn đoán:  <span class="req">*</span></label>
                                            <textarea name="theDiagnosis" id="theDiagnosis" class="txtarea" tabindex="5" required><%= medicalRecords[i].theDiagnosis %></textarea>
                                        </div>

                                        <div class="row">
                                            <label for="status">Tình trạng:  <span class="req">*</span></label>
                                            <textarea name="status" id="status" class="txtarea" tabindex="6" required><%= medicalRecords[i].status %></textarea>
                                        </div>

                                        <div class="row">
                                            <label for="treatment">Cách chữa trị:  <span class="req">*</span></label>
                                            <textarea name="treatment" id="treatment" class="txtarea" tabindex="7" required><%= medicalRecords[i].treatment %></textarea>
                                        </div>

                                        <div class="row">
                                            <label for="timeStart">Thời gian bắt đầu:</label>
                                            <input type="date" name="timeStart" id="timeStart" class="txt" tabindex="8" value="<%= medicalRecords[i].timeStart %>" >
                                        </div>
                                            
                                        <div class="row">
                                            <label for="timeEnd">Thời gian kết thúc:</label>
                                            <input type="date" name="timeEnd" class="txt" tabindex="9" value="<%= medicalRecords[i].timeEnd %>" >
                                        </div>

                                        <div class="row">
                                            <label for="medicines">Các loại thuốc:  <span class="req">*</span></label>
                                            <textarea name="medicines" id="medicines" class="txtarea" tabindex="10" required><%= medicalRecords[i].medicines %></textarea>
                                        </div>
                                        
                                        <div class="row">
                                            <label for="active">Trạng thái hoạt động:  <span class="req">*</span></label>
                                            <input type="text" name="active" class="txt" tabindex="11" value="<%= medicalRecords[i].active %>" required>
                                        </div>
                                       
                                        <div class="center">
                                            <button class="submitbtn" onclick="submitUpdate('<%=formUpdate%>','<%=updateId%>')">Accept</button>
                                            <button type="button" class="submitbtn" onclick="hideScene('<%=updateId%>')">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </td></tr>
                        <!--END UPDATE-->
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>