<% for (var i=0; i<departments.length; i++) { 
    var viewId = 'view_'+i, updateId = 'update_'+i, formUpdate = 'formUpdate_'+i,
        deleteId = 'deleteId_'+i, imageId = 'imageId_'+i, pathImage = '';
    if (typeof departments[i].image == 'undefined' || !departments[i].image)
        pathImage = '/images/datas/user-default.png';
    else pathImage = departments[i].image;
%>
    <!-- chưa check nếu ko tìm thấy path file ảnhh-->
    <div class ="box_content_instroduce col-md-6 float-left">
        <div class="img_box_instroduce">
            <img src="<%=pathImage%>">
        </div>

        <div class="text_box_instroduce" name="<%=departments[i].active%>">
            <h3 class ="title_box_instroduce">
                <%= departments[i].name %>
            </h3>
            <p><hr><p>
            <ul>
                <li><span class="text_instroduce">ID khoa:</span><%= departments[i]._id %></li>
                <li><span class="text_instroduce">Thông tin khoa:</span> <%= departments[i].description %></li>
                <li><span class="text_instroduce">Địa chỉ khoa:</span><%= departments[i].address %></li>
                <li><span class="text_instroduce">Thời gian thành lập:</span><%=departments[i].foundingOn%></li>
                <% if (objectType == 0){ %>
                    <li><span class="text_instroduce">Trạng thái hoạt động:</span><%=departments[i].active%></li>
                    <li><span class="text_instroduce">Lần cuối cập nhật:</span><%=departments[i].timestamp%></li>
                <% } %>
                <!-- Thiếu xem các bác sĩ trong khoa-->
            </ul>	
        </div>
        
        <div class="action_box_instroduce float-right">
            <% if (objectType == 0){ %>
                <div class="icon_delete_instroduce">
                    <input type="hidden" id="<%=deleteId%>" value="<%=departments[i]._id%>">
                    <a onclick="deletes('<%=deleteId%>')">
                        <img src="/images/icons/delete.png" width="16px">
                        <label for="icon_delete_instroduce">Delete</label>
                    </a>
                </div>
                <div class="icon_update_instroduce" >
                    <a onclick="showScene('<%=updateId%>')">
                        <img src="/images/icons/update.png" width="16px">
                        <label for="icon_update_instroduce">Update</label>
                    </a>
                </div>
            <% } %>
            <div class="icon_view_instroduce">
                <a onclick="showScene('<%=viewId%>')">
                    <img src="/images/icons/view.png" width="16px">
                    <label for="icon_view_instroduce">View</label>
                </a>
            </div>
        </div>
    </div>

    <!-- View -->
    <a onclick="hideScene('<%=viewId%>')" id="<%=viewId%>" class="view_action">
        <div class="center_box_action">
            <div class="img_box_instroduce_view">
                <img src="<%=pathImage%>">
            </div>
            <div class="text_box_instroduce_view">
                <h1 class ="title_box_instroduce">
                    <%= departments[i].name %>
                </h1>
                <p><hr></p>
                <div class="introduce_view" name="" >
                    <span class="icons_text_view">
                        <img src="/images/add.png" width="20px">
                    </span>
                    <span class="text_instroduce_view">ID khoa:</span> <%= departments[i]._id %></div>
                <div class="introduce_view" name="" >
                    <span class="icons_text_view">
                        <img src="/images/add.png" width="20px">
                    </span>
                    <span class="text_instroduce_view">Thông tin khoa:</span>  <%= departments[i].description %></div>
                <div class="introduce_view" name="" >
                    <span class="icons_text_view">
                        <img src="/images/add.png" width="20px">
                    </span>
                    <span class="text_instroduce_view">Địa chỉ khoa:</span> <%= departments[i].address %></div>
                <div class="introduce_view" name="" >
                    <span class="icons_text_view">
                        <img src="/images/add.png" width="20px">
                    </span>
                    <span class="text_instroduce_view">Thời gian thành lập:</span>  <%=departments[i].foundingOn%></div>
                <% if (objectType == 0){ %>
                    <div class="introduce_view" name="" >
                        <span class="icons_text_view">
                            <img src="/images/add.png" width="20px">
                        </span>
                        <span class="text_instroduce_view">Trạng thái hoạt động:</span>  <%=departments[i].active%></div>
                    <div class="introduce_view" name="" >
                        <span class="icons_text_view">
                            <img src="/images/add.png" width="20px">
                        </span>
                        <span class="text_instroduce_view">Lần cuối cập nhật:</span>  <%=departments[i].timestamp%></div>
                <% } %>
            </div>
        </div>
    </a>
    
    <!--END VIEW ACTION-->

    <% if (objectType == 0){ %>
        <!--UPDATE ACTION-->
        <div id ="<%=updateId%>" class="update_action">
            <div class="center_box_action">
                <form id="<%=formUpdate%>">
                    <div class="img_box_instroduce_update">
                        <img id="<%=imageId%>" src="<%=pathImage%>">
                        <div class="input_file_img">
                            <label for="image">Chọn ảnh</label>
                            <input type="file" name="image"
                                accept="image/gif, image/jpeg, image/png"
                                onchange="displayImage(this,'<%=imageId%>')">
                        </div>
                    </div>
                    <div class="text_box_instroduce_update" >
                        <h1 class ="title_box_instroduce">
                            <%= departments[i].name %>
                        </h1>
                        <hr><p>
                        <div class="row">
                            <label for="_id">ID khoa: <span class="req">*</span></label>
                            <input type="text" readonly="readonly" name="_id" class="txt" tabindex="1" value="<%= departments[i]._id %>">
                        </div>
                            
                        <div class="row">
                            <label for="name">Tên khoa:  <span class="req">*</span></label>
                            <input type="name" name="name" class="txt" tabindex="2" value="<%= departments[i].name %>">
                        </div>
                            
                        <div class="row">
                            <label for="description">Thông tin khoa:  <span class="req">*</span></label>
                            <textarea type="" name="description" class="txtarea" tabindex="3"><%= departments[i].description %></textarea>
                        </div>
                            
                        <div class="row">
                            <label for="address">Địa chỉ khoa:  <span class="req">*</span></label>
                            <textarea name="address" class="txtarea" tabindex="4" ><%= departments[i].address %></textarea>
                        </div>
                        
                        <div class="row">
                            <label for="foundingOn">Thời gian thành lập:   <span class="req">*</span></label>
                            <input type="date" name="foundingOn" class="txt" tabindex="5" value="<%=departments[i].foundingOn%>">
                        </div>

                        <div class="row">
                            <label for="name">Trạng thái hoạt động:  <span class="req">*</span></label>
                            <input type="active" name="active" class="txt" tabindex="6" value="<%= departments[i].active %>">
                        </div>
                        <div class="center">
                            <button class="submitbtn" onclick="submitUpdate('<%=formUpdate%>','<%=updateId%>')">Accept</button>
                            <button type="button" class="submitbtn" onclick="hideScene('<%=updateId%>')">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>	
        <!--END UPDATE-->
    <% } %>
<% } %>