<% for (var i=0; i<departments.length; i++) { 
    var view = 'view_'+i, update = 'update_'+i, deleteId = 'delete_'+i
%>
    <div class ="box_content_instroduce col-md-6 float-left">
        <div class="img_box_instroduce">
            <img src="/images/datas/undefined.jpg">
        </div>

        <div class="text_box_instroduce" >
            <h3 class ="title_box_instroduce">
                <%= departments[i].name %>
            </h3>
            <p><hr><p>
            <ul>
                <li>Id khoa: <%= departments[i]._id %></li>
                <li>Thông tin khoa: <%= departments[i].description %></li>
                <li>Địa chỉ khoa: <%= departments[i].address %></li>
                <li>Thời gian thành lập khoa: <%=departments[i].foundingOn%></li>
            </ul>	
        </div>
        
        <div class="action_box_instroduce float-right">
            <div class="icon_delete_instroduce" onclick="delete_action()">
                <a href="#<%=deleteId%>">
                    <img src="/images/icons/delete.png" width="16px">
                    <label for="icon_delete_instroduce">Delete</label>
                </a>
            </div>
            <div class="icon_update_instroduce" >
                <a href="#<%=update%>">
                    <img src="/images/icons/update.png" width="16px">
                    <label for="icon_update_instroduce">Update</label>
                </a>
            </div>
            <div class="icon_view_instroduce">
                <a href="#<%=view%>">
                    <img src="/images/icons/view.png" width="16px">
                    <label for="icon_view_instroduce">View</label>
                </a>
            </div>
        </div>
    </div>

    <!-- View -->
    <a href="#_" id="<%=view%>" class="view_action">
        <div class="center_box_action">
            <div class="img_box_instroduce_view">
                <img src="/images/datas/undefined.jpg">
            </div>
            <div class="text_box_instroduce_view">
                <h1 class ="title_box_instroduce">
                    <%= departments[i].name %>
                </h1>
                <p><hr></p>
                <div class="introduce_view" name="" >ID: <%= departments[i]._id %></div>
                <div class="introduce_view" name="" >Thong tin khoa: <%= departments[i].description %></div>
                <div class="introduce_view" name="" >Dia chi khoa: <%= departments[i].address %></div>
                <div class="introduce_view" name="" >Thoi gian thanh lap: <%=departments[i].foundingOn%></div>
            </div>
        </div>
    </a>
    
    <!--END VIEW ACTION-->

    <!--UPDATE ACTION-->
    <div href="#_" id ="<%=update%>" class="update_action">
        <div class="center_box_action">
            <div class="img_box_instroduce_update">
                    <img src="/images/datas/undefined.jpg">
                <form method="post" enctype="multipart/form-data">
                    <div class="input_file_img">
                        <label for="image">Choose file to upload</label>
                        <input type="file" id="profile_pic" name="image"
                            accept=".jpg, .jpeg, .png">
                    </div>
                </form>
            </div>
            <div class="text_box_instroduce_update" >
                <h1 class ="title_box_instroduce">
                    <%= departments[i].name %>
                </h1>
                <form id="contactform" name="contact" method="post" action="#">
                    <hr><p>
                    <div class="row">
                        <label for="_id">ID: <span class="req">*</span></label>
                        <input type="text" name="_id" id="_id" class="txt" tabindex="1" value="<%= departments[i]._id %>">
                    </div>
                        
                    <div class="row">
                        <label for="name">Ten Khoa:  <span class="req">*</span></label>
                        <input type="name" name="name" id="name" class="txt" tabindex="2" value="<%= departments[i].name %>">
                    </div>
                        
                    <div class="row">
                        <label for="description">Thong tin khoa:  <span class="req">*</span></label>
                        <textarea type="" name="description" id="description" class="txtarea" tabindex="3">
                            <%= departments[i].description %>
                        </textarea>
                    </div>
                        
                    <div class="row">
                        <label for="address">Dia chi Khoa:  <span class="req">*</span></label>
                        <textarea name="address" id="address" class="txtarea" tabindex="4" >
                            <%= departments[i].address %> 
                        </textarea>
                    </div>
                    
                    <div class="row">
                        <label for="foundingOn">Thoi gian thanh lap:   <span class="req">*</span></label>
                        <input type="date" name="foundingOn" id="foundingOn" class="txt" tabindex="5" value="<%=departments[i].foundingOn%>">
                    </div>

                    <div class="center">
                        <a href="">
                            <input type="submit" id="submitbtn" name="accept" value="Accept">
                        </a>
                        <a href="">
                            <input type="submit" id="submitbtn" name="cancel" value="Cancel">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>	
    <!--END UPDATE-->
    <div class="clear"></div>
<% } %>